#container{
    text-align: center;
    font-size: 2rem;
   }
  .value{
    font-size: 6rem;
  }
  .button:hover {
    color: white;
    background-color: dray;
  }
  .button{
    padding: 10px;
    margin: 10px;
  };